
yarn.lock
node_modules
dist
scripts

packages/child-1/dist
packages/child-1/node_modules
packages/child-1/package-lock.json
packages/child-1/yarn.lock

packages/main/dist
packages/main/node_modules
packages/main/package-lock.json
packages/main/yarn.lock

packages/child-2/dist
packages/child-2/node_modules
packages/child-2/package-lock.json
packages/child-2/yarn.lock



